include ./_variables
include ./_menu-config
include ./mixins/_index

block params
  //- var pageTitle = ""
  //- var pageDescription = ""
  //- var pageSlug = ""
  //- var bodyClass = ""

doctype html
html(lang="en")
  head

    title= pageTitle
    meta(name="description" content=pageDescription)
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    link(rel="canonical" href="https://www.zilxihcp.com/" + (pageSlug == "home" ? "" : pageSlug))

    //- https://www.favicon-generator.org/
    link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:url" content=domain + (pageSlug == "index" ? "" : pageSlug))
    meta(property="og:locale" content="US")
    meta(property="og:image" content=ogImageUrl)
    meta(property="og:type" content="Website")
    meta(property="og:site_name" content=siteName)

    meta(name="twitter:title" content=pageTitle)
    meta(name="twitter:description" content=pageDescription)
    meta(name="twitter:image" content=ogImageUrl)
    meta(name="twitter:card" content="summary_large_image")

    link(href="/styles/styles.min.css" rel="stylesheet" media="all")
    link(href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet")

    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', #{gtmCode});

      //- https://jsonld.com/json-ld-generator/
      script(type='application/ld+json').
        {
        "@context": "http://www.schema.org",
        "@type": "Corporation",
        "name": "Brandtiv",
        "url": "https://www.brandtiv.com",
        "logo": "https://www.brandtiv.com/brandtiv-logo.svg",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "376 Broadway Suite 23",
        "addressLocality": "Saratoga Springs",
        "addressRegion": "New York",
        "postalCode": "12866",
        "addressCountry": "United States"
        },
        "geo": {
        "@type": "GeoCoordinates",
        "latitude": "43.0808498",
        "longitude": "-73.7875428"
        },
        "hasMap": "https://goo.gl/maps/cTfcSEUdoJCjo53fA",
        "openingHours": "Mo 09:00-05:00 Tu 09:00-05:00 We 09:00-05:00 Th 09:00-05:00 Fr 09:00-05:00"
        }


  body(class=bodyClass)

    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=" + gtmCode height="0" width="0" style="display:none;visibility:hidden")

    include _cookie

    include _header

    block content
      div Content here

    if enableIsi && !disableIsiPageSlugs.includes(pageSlug)
      include _isi

    include _footer

    include _modals

    script(src="/js/scripts.min.js" defer)
